@(p1: unus.db.Patient, p2: unus.db.Patient)
<table>
    <tr><th>enterpriseId</th><th>@p1.enterpriseId</th><th>@p2.enterpriseId</th></tr>
    <tr><th>last</th><th>@p1.last</th><th>@p2.last</th></tr>
    <tr><th>first</th><th>@p1.first</th><th>@p2.first</th></tr>
    <tr><th>middle</th><th>@p1.middle</th><th>@p2.middle</th></tr>
    <tr><th>suffix</th><th>@p1.suffix</th><th>@p2.suffix</th></tr>
    <tr><th>dob</th><th>@p1.dob</th><th>@p2.dob</th></tr>
    <tr><th>gender</th><th>@p1.gender</th><th>@p2.gender</th></tr>
    <tr><th>ssn</th><th>@p1.ssn</th><th>@p2.ssn</th></tr>
    <tr><th>address1</th><th>@p1.address1</th><th>@p2.address1</th></tr>
    <tr><th>address2</th><th>@p1.address2</th><th>@p2.address2</th></tr>
    <tr><th>zip</th><th>@p1.zip</th><th>@p2.zip</th></tr>
    <tr><th>mothersMaidenName</th><th>@p1.mothersMaidenName</th><th>@p2.mothersMaidenName</th></tr>
    <tr><th>mrn</th><th>@p1.mrn</th><th>@p2.mrn</th></tr>
    <tr><th>city</th><th>@p1.city</th><th>@p2.city</th></tr>
    <tr><th>state</th><th>@p1.state</th><th>@p2.state</th></tr>
    <tr><th>phone</th><th>@p1.phone</th><th>@p2.phone</th></tr>
    <tr><th>phone2</th><th>@p1.phone2</th><th>@p2.phone2</th></tr>
    <tr><th>email</th><th>@p1.email</th><th>@p2.email</th></tr>
    <tr><th>alias</th><th>@p1.alias</th><th>@p2.alias</th></tr>
</table>